---
import BaseLayout from "@marketing/layouts/BaseLayout.astro";
import Navigation from "@marketing/components/Navigation.astro";
import Footer from "@marketing/components/Footer.astro";
---

<BaseLayout
  title="Page Not Found"
  description="The page you're looking for doesn't exist."
>
  <Navigation />
  <div class="flex min-h-screen flex-col items-center">
    <div class="mt-auto"></div>
    <div class="flex max-w-[80vw] flex-col items-center sm:max-w-sm">
      <h1 class="text-primary text-lg font-medium uppercase tracking-widest">
        404 - Not Found
      </h1>
      <p class="mt-4 text-center text-4xl font-bold sm:text-5xl">
        This page was
        <br class="hidden sm:block" /> not backed up.
      </p>
      <p class="text-muted-foreground mt-4 text-center text-sm sm:text-base">
        We tried restoring it, but it's gone forever.
        <br class="hidden sm:block" /> (You do have your files backed up… right?)
      </p>
      <a
        href="/"
        class="bg-primary text-primary-foreground hover:bg-primary/90 mt-10 inline-flex h-11 items-center justify-center rounded-md px-8 text-base font-medium transition-colors"
      >
        Back to Home
      </a>
    </div>
    <div class="mb-auto"></div>
  </div>
  <Footer />
</BaseLayout>
