services:
  postgres:
    image: postgres:latest
    container_name: blinkdisk_postgres_container
    restart: always
    user: postgres
    environment:
      POSTGRES_DB: blinkdisk
      POSTGRES_USER: user
      POSTGRES_PASSWORD: password
    ports:
      - "5432:5432"

  mailhog:
    image: mailhog/mailhog
    logging:
      driver: "none"
    ports:
      - "1025:1025"
      - "8025:8025"
