---
import { faqs } from "@marketing/data/faqs";
import FaqList from "@marketing/components/FaqList.astro";
---

<section id="faqs" class="mx-auto pb-32 pt-16 sm:pb-40 sm:pt-24">
  <div class="w-content mx-auto flex flex-col items-center text-center">
    <h2 class="text-center text-4xl font-bold sm:text-5xl">
      Questions & Answers
    </h2>
    <p class="text-muted-foreground mt-4 text-center">
      Still have questions? Here are answers to some frequently asked questions.
    </p>
  </div>
  <div class="mt-6 sm:mt-16">
    <FaqList faqs={faqs} />
  </div>
</section>
