---
import BaseLayout, { type Props } from "@marketing/layouts/BaseLayout.astro";
import Navigation from "@marketing/components/Navigation.astro";
import Footer from "@marketing/components/Footer.astro";

type LayoutProps = Props;
const props = Astro.props as LayoutProps;
---

<BaseLayout {...props}>
  <Navigation />
  <main>
    <slot />
  </main>
  <Footer />
</BaseLayout>
