---
import BaseLayout, { type Props } from "#layouts/BaseLayout.astro";
import Navigation from "#components/Navigation.astro";
import Footer from "#components/Footer.astro";

type LayoutProps = Props;
const props = Astro.props as LayoutProps;
---

<BaseLayout {...props}>
  <Navigation />
  <main>
    <slot />
  </main>
  <Footer />
</BaseLayout>
