@import "../../../libs/styles/globals.css";
@import "../../../libs/styles/inter.css";

a {
  cursor: default;
}

.disable-transitions * {
  -o-transition: none !important;
  -moz-transition: none !important;
  -webkit-transition: none !important;
  transition: none !important;
}

.background-pattern::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  height: 100vh;
  background-image:
    radial-gradient(circle at 50% 300px, oklch(1 0 0) 0%, transparent 50%),
    radial-gradient(oklch(0.7 0 0 / 0.3) 1.5px, transparent 1.5px);
  background-size:
    100% 100%,
    28px 28px;
  pointer-events: none;
  z-index: -1;
}

.dark .background-pattern::before {
  background-image:
    radial-gradient(
      circle at 50% 300px,
      oklch(0.25 0 0 / 1) 0%,
      transparent 50%
    ),
    radial-gradient(oklch(0.5 0 0 / 0.2) 1.5px, transparent 1.5px);
}
