@import "../../../libs/styles/globals.css";
@import "../../../libs/styles/inter.css";

a {
  cursor: default;
}

.disable-transitions * {
  -o-transition: none !important;
  -moz-transition: none !important;
  -webkit-transition: none !important;
  transition: none !important;
}
