---
type Props = {
  id: string;
  title: string;
};

const { id, title } = Astro.props;
---

<h2
  id={id}
  class="text-foreground mb-6 mt-12 flex scroll-mt-20 items-center gap-3 text-2xl font-bold sm:text-3xl md:mt-16"
>
  <slot name="icon" />
  {title}
</h2>
