---
type Props = {
  folder: {
    emoji: string;
    name: string;
    files: number;
    size?: number;
  };
};

const { folder } = Astro.props;
---

<div class="flex items-center gap-3">
  <div
    class="bg-primary/10 flex size-10 shrink-0 items-center justify-center rounded-lg text-xl"
  >
    {folder.emoji}
  </div>
  <div class="flex flex-col">
    <p class="whitespace-nowrap text-base font-semibold">{folder.name}</p>
    <p class="text-muted-foreground text-xs">
      {folder.files.toLocaleString()} Files
      {
        folder.size ? (
          <Fragment> ⸱ {folder.size.toLocaleString()} GB</Fragment>
        ) : null
      }
    </p>
  </div>
</div>
