name: Deploy Marketing

on:
  push:
    tags:
      - v*
  workflow_dispatch:

jobs:
  deploy:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout repository
        uses: actions/checkout@08c6903cd8c0fde910a37f88322edcfb5dd907a8 # v5.0.0

      - name: Install pnpm
        uses: pnpm/action-setup@a7487c7e89a18df4991f7f222e4898a00d66ddda # v5.0.0

      - name: Set up node
        uses: actions/setup-node@a0853c24544627f65ddf259abe73b1d18a591444 # v5.0.0
        with:
          node-version-file: ".nvmrc"
          cache: "pnpm"

      - name: Install dependencies
        run: pnpm install

      - name: Build project
        env:
          API_URL: ${{ vars.API_URL }}
          MARKETING_URL: ${{ vars.MARKETING_URL }}
          POSTHOG_API_HOST: ${{ vars.POSTHOG_API_HOST }}
          POSTHOG_MARKETING_KEY: ${{ vars.POSTHOG_MARKETING_KEY }}
          LOGSNAG_PUBLIC_KEY: ${{ vars.LOGSNAG_PUBLIC_KEY }}
          ENDORSELY_PUBLIC_KEY: ${{ vars.ENDORSELY_PUBLIC_KEY }}
          CRISP_KEY: ${{ vars.CRISP_KEY }}
        run: pnpm --filter marketing build

      - name: Deploy project
        run: pnpm --filter marketing run deploy
        env:
          CLOUDFLARE_API_TOKEN: ${{ secrets.CLOUDFLARE_API_TOKEN }}
          CLOUDFLARE_ACCOUNT_ID: ${{ secrets.CLOUDFLARE_ACCOUNT_ID }}
